.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: #cd0c0d;
}

.nav-links {
  width: 80%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  margin-right: 60px;
  font-size: 22px;
  background-color: teal;
  border-radius: 14px;
}

.menu {
  color:white;
  font-family: Verdana;
  font-size: 18px;
  margin-right: 40px;
}

.title {
  margin-bottom: 15px;
  margin-top: 15px; 
  text-align: center;
  font-family: monospace;
}

.card card-img{
  width: 500px;
}

.row {
  margin-top: 16px;
  margin-bottom: 25px;
}

.btn-schedule {
  border: none;
  width: 100%;
}