.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: teal;
  color: white;
}

nav a {
  text-decoration: none;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  margin-right: 400px;
}

.menu {
  color:white;
  font-family: Verdana;
  font-size: 18px;
}